@{
    ViewData["Title"] = "Events";
    ViewBag.Current = "Events";
    ViewBag.ManageEvents = "selected";
    ViewBag.Event = "selected";
}

<div class="w-100 h-100" style="background-color: #F2F2F2">
    <h1>@ViewData["Title"]</h1>
</div>

