@using System.Web
@using Microsoft.AspNetCore.Html
@using Web.Utils
@functions {
	Dictionary<string, string> GetUrl(string controller, string action)
	{
		if (controller == null || action == null) return new();

		Dictionary<string, string> result = new();

		result[controller] = Url.Action("index", controller, new
		{
			area = "Dashboard"
		})!;

		result[action] = Url.Action(action, controller, new
		{
			area = "Dashboard"
		})!;

		return result;
	}

	string GenerateNavigation()
	{
		string controller = ViewContext.RouteData.Values["controller"]!.ToString()!;
		string action = ViewContext.RouteData.Values["action"]!.ToString()!;

		var url = GetUrl(controller, action);
		if (url == null) return "";

		bool isInBase = action.ToLower() == "index";
		string controllerHtml = $"<a class='{(isInBase ? "dashboard-text-color-reset" : "dashboard-text-selected")} text-decoration-none' href='{url[controller]}'><span>{ViewBag.Current}</span></a>";
		string actionHtml = $"<a class='dashboard-text-color-reset text-decoration-none' href='{url[action]}'><span>{action.SplitCamelCase()[0]}</span></a>";

		string arrow = "<i class='fa-solid fa-chevron-right dashboard-text-color-reset'></i>";

		return isInBase ? $"{controllerHtml}" : $"{controllerHtml}{arrow}{actionHtml}";
	}

	IHtmlContent GetHeaderNavigation()
	{
		string html = GenerateNavigation();
		return Html.Raw(HttpUtility.HtmlDecode(html));
	}
}

<!DOCTYPE html>
<html lang="en">
<!--ADMIN LAYOUT-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/9783/9783268.png" />
	<title>@ViewData["Title"]</title>
	@await RenderSectionAsync("Header", required: false)
</head>
<body style="background-color: #292929">
	<!--Header-->
	<!--TODO: ADD HEADER-->
	<!--End Header-->
	@await Component.InvokeAsync("SideMenu")
	<section class="dashboard-header w-100 d-flex">
		<button class="side-menu-button">
			<i class="fa-solid fa-arrow-left d-none dashboard-text-color-reset"></i>
			<i class="fa-solid fa-bars dashboard-text-color-reset"></i>
		</button>
		<div class="flex-grow-1 d-flex align-items-center">
			<div class="navigate-container rounded-pill p-2 shadow">
				<a asp-area='Dashboard'
				   asp-controller='Statistics'
				   asp-action='Index'
				   class='dashboard-base text-decoration-none'>
					<i class="fa-solid fa-ship"></i>
					Dashboard
				</a>
				<i class='fa-solid fa-chevron-right dashboard-text-color-reset'></i>
				@GetHeaderNavigation()
			</div>
		</div>
		<!--model-->
		@await Component.InvokeAsync("ProfileDropdown")
	</section>
	<div class="container body-container w-100 d-flex">
		<div class="dashboard-box"></div>
		<main role="main" class="dashboard-main d-flex flex-column flex-grow-1 overflow-hidden">
			@RenderBody()
		</main>
	</div>

	<script src="~/dist/bundle.js" asp-append-version="true"></script>
	<script asp-append-version="true" src="~/js/dashboard/dashboard.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
