$selected-color: #EA4170;
$content-width: 95%;
$dashboard-font-color: white;
$dashboard-background-light: #4F4F4F;

.dashboard-form {
    > * {
        color: $dashboard-font-color !important;
    }

    > div {
        background-color: $dashboard-background-light !important;
    }

    label {
        color: $dashboard-font-color !important;
        font-weight: bold;
    }

    select, input, input:focus, textarea, textarea:focus {
        background-color: $dashboard-background-light !important;
    }

    select option:hover {
        background-color: $selected-color !important;
    }

    select, input, input:focus, textarea, textarea:focus {
        color: $dashboard-font-color !important;
    }

    select.disabled, input.disabled, textarea.disabled {
        color: lightgray !important;
    }

    .form-check-input {
        border: unset;
    }

    .form-check-input:checked {
        background-color: $selected-color !important;
    }
}

.dashboard-login-form {
    > * {
        color: $dashboard-font-color !important;
    }

    > div {
        background-color: inherit !important;
    }

    select, input, input:focus, textarea, textarea:focus {
        background-color: inherit !important;
    }

    select option:hover {
        background-color: $selected-color !important;
    }

    input, input:focus, textarea, textarea:focus {
        color: $dashboard-font-color !important;
    }

    button {
        background: linear-gradient(to right, rgb(234, 65, 112), rgb(128,0,128)) !important;
        border: unset;
        color: white;
        font-weight: bold;
    }
}

.dashboard-img-input {
    max-height: 720px;
    min-height: 720px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    img {
        object-fit: fill;
        object-position: center;
        width: $content-width;
        aspect-ratio: 16/9;
        max-height: inherit;
        border-radius: 10px;
        z-index: 10;
    }
}

.dashboard-img-input::before {
    content: "";
    background-image: inherit;
    background-size: cover;
    background-position: inherit;
    background-repeat: inherit;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    filter: blur(30px);
    width: 100%;
    height: 100%;
}

.choose-img-button-container {
    position: absolute;
    height: fit-content;
    bottom: 10px;
    right: 50px;
    z-index: 20;
    gap: 10px;

    .choose-img-button {
        border: unset !important;
        color: white !important;
        overflow: hidden;
        gap: 5px;
        background: linear-gradient(to right, rgb(234, 65, 112), rgb(128,0,128));
        transition: box-shadow 0.2s;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    }

    .choose-img-button:hover {
        box-shadow: 0 0 10px rgba(234, 65, 112, 0.8), 0 0 60px rgba(128, 0, 128, 0.8);
    }
}

.popup-textbox-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;

    .popup-textbox-hover-text {
        position: absolute;
        white-space: nowrap;
        background-color: lightgray;
        color: black !important;
        padding: 5px;
        bottom: 50px;
        right: -40px;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
    }
}

.popup-textbox-hover:hover {
    .popup-textbox-hover-text {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .image-recommend-text {
        min-width: 150px !important;
        white-space: initial !important;
    }
}
