$content-width: 95%;
$page-content-bg: #404040;

.dashboard-event-divider {
    > hr {
        width: $content-width
    }
}

.dashboard-event-content {
    width: $content-width;
    min-height: 600px;
    border-radius: 10px;
    padding: 20px;
    background-color: $page-content-bg;
    //margin-top: 50px;
}