@{
    ViewData["Title"] = "Media";
    ViewBag.Current = "Media";
    ViewBag.ManageSite = "selected";
    ViewBag.Media = "selected";
}

<div class="w-100 h-100">
    <h1>@ViewData["Title"]</h1>
</div>

