@{
    ViewData["Title"] = "Pages";
    ViewBag.Current = "Pages";
    ViewBag.ManageSite = "selected";
    ViewBag.Page = "selected";
}

<div class="w-100 h-100">
    <h1>@ViewData["Title"]</h1>
</div>

