@{
    ViewData["Title"] = "Users";
    ViewBag.Current = "Users";
    ViewBag.ManageUsers = "selected";
    ViewBag.User = "selected";
}

<div class="w-100 h-100" style="background-color: #F2F2F2">
	<section class="w-100 d-flex justify-content-center">
		<div class="d-flex flex-wrap" style="width: 95%; gap: 20px">
			<div class="admin-page-title d-flex align-items-center justify-content-end" style="height: 120px">
				<div class="admin-page-title-icon"><i class="fa-solid fa-user"></i></div>
				<span>@ViewData["Title"]</span>
			</div>
			<div class="admin-actions d-flex align-items-center" style="height: 120px">
				<button class="admin-action-add rounded-4 btn btn-primary">
					<i class="fa-solid fa-circle-plus"></i>
					Add
				</button>
			</div>
		</div>
	</section>
	<section class="d-flex justify-content-center w-100">
		<div class="admin-page-content d-flex flex-column align-items-center bg-light shadow">
			<div style="width: 98%; min-height: 80px">
				<form method="get" class="w-100 h-100 admin-search-form d-flex align-items-center">
					<select id="searchOption"
							name="searchOption"
							class="form-select border-radius-tr-reset border-radius-br-reset remove-border-focus"
							style="width: 18%">
						<option>Contain</option>
						<option>Equal</option>
					</select>
					<button type="button" class="admin-filter-button btn btn-primary border-radius-reset remove-border-focus"
							style="width: 7%">
						<i class="fa-solid fa-filter"></i>
						<span>Filter</span>
					</button>
					<div class="d-flex w-75 form-control p-0 border-radius-tl-reset border-radius-bl-reset">
						<input type="text"
							   id="searchQuery"
							   name="searchQuery"
							   class="form-control h-100 border-radius-reset border-0 remove-border-focus flex-grow-1" />
						<button type="submit"
								class="form-control admin-search-button remove-border-focus h-100"
								style="width: 45px;">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</form>
			</div>
			<div class="admin-user-table table-responsive-xxl">
				<table class="table admin-table">
					<thead>
						<tr>
							<th style="min-width: 50px; max-width: 50px" scope="col">Id</th>
							<th style="min-width: 135px; max-width: 135px" class="text-center" scope="col">Username</th>
							<th style="min-width: 135px; max-width: 135px" class="text-center" scope="col">Email</th>
							<th style="min-width: 130px; max-width: 130px" class="text-center" scope="col">Phone</th>
							<th class="text-center" scope="col">Lockout</th>
							<th class="text-center" scope="col">Lockout Expired Day</th>
							<th class="text-center" scope="col">Access Failed Time</th>
							<th style="min-width: 150px; max-width: 250px" class="text-end" scope="col">Actions</th>
						</tr>
					</thead>
					<!--Model-->
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="w-100 d-flex justify-content-center mt-2">
				<div class="admin-table-entries-information w-50">
					<span class="ms-3">Show blah to bruh of bluh entries</span>
				</div>
				<div class="w-50 d-flex justify-content-end">
					<div class="admin-table-pagination me-3">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<i class="fa-solid fa-caret-left"></i>
								</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="#" aria-label="page-one">
									<span>1</span>
								</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="page-two">
									<span>2</span>
								</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<i class="fa-solid fa-caret-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
