@{
    ViewData["Title"] = "Users";
    ViewBag.Current = "Users";
    ViewBag.ManageUsers = "selected";
    ViewBag.User = "selected";
}

<div class="w-100 h-100" style="background-color: #F2F2F2">
    <h1>@ViewData["Title"]</h1>
</div>

