@{
	ViewData["Title"] = "Add Event";
	ViewBag.Current = "Events";
	ViewBag.ManageEvents = "selected";
	ViewBag.Event = "selected";
}

<div class="w-100 h-100">
	<form class="dashboard-form dashboard-event-form w-100 h-100">
		<div class="dashboard-event-img w-100 d-flex justify-content-center">
			<img class="d-block"
				 src="/images/events/hanhitoichoem.png" />
		</div>
		<div class="dashboard-event-divider w-100 d-flex justify-content-center">
			<hr />
		</div>
		<div class="w-100 d-flex justify-content-center">
			<div class="dashboard-event-content">
				<label for="title">Title</label>
				<input id="title" name="title" type="text" class="form-control remove-border-focus" />
			</div>
		</div>
	</form>
</div>