<!--TODO: Remember to put asp-for and model -->
@{

}

<form class="w-100" asp-controller="Profile" asp-action="UpdatePersonalDetail" method="post">
	<div class="w-100 d-flex">
		<label class="w-25 profile-form-label" for="Avatar">Avatar</label>
		<input class="w-75 h-100 align-self-end form-control border border-subtle"
			   type="file"
			   accept=".png,.jpg"
			   id="Avatar"
			   name="Avatar" />
	</div>
	<br />
	<div class="w-100 d-flex">
		<label class="w-25 profile-form-label" for="Name">Name</label>
		<input class="w-75 h-100 form-control align-self-end border border-subtle" type="text" id="Name" name="Name" />
	</div>
	<br />
	<div class="w-100 d-flex">
		<label class="w-25 profile-form-label" for="Email">Email*</label>
		<input class="w-75 h-100 form-control align-self-end border border-subtle"
			   required="required"
			   type="email"
			   id="Email"
			   name="Email" />
	</div>
	<br />
	<div class="w-100 d-flex flex-column">
		<div class="w-75 align-self-end">
			<button class="btn btn-primary"
					style="border-radius: 10px"
					type="submit">
				<i class="fas fa-sd-card"></i>
				<span>Save</span>
			</button>
		</div>
	</div>
</form>