@{
	ViewData["Title"] = "Index";
	ViewBag.DashBoard = "selected";
}

<div class="dashboard-container d-flex flex-column align-items-center justify-content-center w-100 h-100">
	<div class="dashboard-item d-flex align-items-center justify-content-between border border-primary">
		<div class="dashboard-group border border-success">

		</div>
		<div class="dashboard-group border border-success">
		</div>
		<div class="dashboard-group border border-success">
		</div>
	</div>
	<div class="dashboard-item d-flex align-items-center justify-content-center border border-danger">
	</div>
</div>

