@{
    ViewData["Title"] = "Banners";
    ViewBag.Current = "Banner";
    ViewBag.ManageSite = "selected";
    ViewBag.Banner = "selected";
}

<div class="w-100 h-100" style="background-color: #F2F2F2">
    <h1>@ViewData["Title"]</h1>
</div>

