.admin-event-table {
    width: 98%;

    tbody {
        font-size: 13px !important;
        text-align: center;
    }
}

.admin-event-table.dataTables_paginate {

}

.admin-action-button {
    max-width: fit-content !important;
    min-width: 70px !important;
    max-height: 35px !important;
    min-height: 35px !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px !important;
    color: white;
    font-weight: bold;
    font-size: 14px !important;
}