$background-color: #F2F2F2;

.dashboard-container {
    gap: 10px;
    background-color: $background-color;
}

.dashboard-item {
    height: fit-content;
    min-width: 95%;
    flex-wrap: wrap;
}

.dashboard-group {
    height: 450px;
    min-width: 300px;
    max-width: 550px;
    width: 100% !important;
}

@media (min-width: 992px) {
    .dashboard-item {
        flex-wrap: nowrap !important;
        gap: 40px !important;
    }
}