<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/9783/9783268.png" />
    <title>@ViewData["Title"] - Hệ thống quản lý sự kiện</title>
</head>
<body class="bg-light">
    <div class="container body-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
