<div class="container-fluid position-relative" style="background: url(https://www.ikeva.com/wp-content/uploads/2016/01/BeerDieEvents.jpg); background-size: cover; background-position: center; height: 30vh; width: 100%;">
    <div class="container">
    <div class="row h-100">
        <div class="col text-white position-absolute" style="bottom: 10px">
            <h1 class="display-4">Sự kiện</h1>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><i class="bi bi-house-fill" style="font-size: 1.5rem;"></i></a><i style="font-size: 1.5rem">/ Giới thiệu</i>
        </div>
    </div>
    </div>
</div>
<div class="container mb-5 mt-5">
    <h1>Eventmie Pro là gì?</h1>
    <p>
        Đây là một nền tảng lên kế hoạch, quản lý và bán vé sự kiện. Với Eventmie Pro, bạn có thể khởi chạy một nền tảng chuyên biệt để quản lý sự kiện trên tên miền của mình. Nói cách khác, đây là hệ thống quản lý sự kiện tự lưu trữ, hỗ trợ nhiều tổ chức. Tự động hóa quy trình lập kế hoạch sự kiện, giúp công việc trở nên đơn giản hơn. Eventmie Pro an toàn, dễ mở rộng, tùy chỉnh linh hoạt và sẵn sàng để triển khai thực tế.
    </p>
    <p>
        Cài đặt như một trang web mới hoặc tích hợp vào trang web hiện có, bắt đầu bán sự kiện theo cách của bạn. KHÔNG tính hoa hồng và giữ 100% LỢI NHUẬN.
    </p>
    <p>
        Bạn cũng có thể mời nhiều nhà tổ chức sự kiện khác bán sự kiện trên trang web của bạn và thu phí hoa hồng từ họ. Đó là cách bạn có thể điều hành một mô hình kinh doanh giống như Eventbrite với Eventmie Pro.
    </p>
    <p>
        Nếu bạn là một tổ chức duy nhất, bạn có thể TẮT chế độ đa tổ chức trong Eventmie Pro và sử dụng nó như một trang web sự kiện dành riêng cho một tổ chức.
    </p>

    <h2>Mua Eventmie Pro</h2>
    <p>Phiên bản Eventmie Pro đi kèm với giấy phép thương mại. Phiên bản Pro được tích hợp đầy đủ nhiều tính năng hữu ích để phát triển kinh doanh.</p>
    <ul>
        <li><a href="https://eventmie-pro.classiebit.com">Trực tuyến (eventmie-pro.classiebit.com)</a> - Truy cập phiên bản Pro trực tiếp.</li>
        <li><a href="https://classiebit.com/eventmie-pro">Mua (classiebit.com/eventmie-pro)</a> - Mua Eventmie Pro tại đây với giá ưu đãi.</li>
    </ul>

    <h2>Phiên bản Lite</h2>
    <p>Phiên bản Eventmie Lite dành cho mục đích dùng thử, bạn có thể kiểm tra bản demo miễn phí trước khi mua phiên bản Pro. Phiên bản Lite (demo) có tính năng và chức năng rất hạn chế. Phiên bản Lite không được khuyến nghị sử dụng cho môi trường thực tế.</p>
    <ul>
        <li><a href="https://eventmie.classiebit.com">Trực tuyến (eventmie.classiebit.com)</a> - Truy cập phiên bản Lite trực tiếp.</li>
        <li><a href="https://github.com/classiebit/eventmie-lite">Github</a> - Hãy cho chúng tôi một ngôi sao.</li>
        <li><a href="https://classiebit.com/eventmie">Tải về (classiebit.com/eventmie)</a> - Truy cập để tải xuống.</li>
    </ul>

    <h2>Liên hệ</h2>
    <p>Nếu bạn có bất kỳ câu hỏi nào về Điều khoản này, vui lòng liên hệ với chúng tôi qua email <a href="mailto:info@classiebit.com">info@classiebit.com</a> hoặc truy cập <a href="https://classiebit.com">classiebit.com</a></p>
</div>
