

<div class="container-fluid d-flex align-items-end justify-content-center" style="background-image: url('https://eventmie.classiebit.com/storage/banners/February2024/sJ1ldFeRtco63Jh5IPVP.webp'); background-size: cover; background-position: center; height: 100vh; width: 100%;">
</div>