@{
    ViewData["Title"] = "Ticket";
    ViewBag.Current = "Ticket";
    ViewBag.IsInManageBooking = "selected";
    ViewBag.IsInTicket = "selected";
}

<div class="w-100 h-100">
    <h1>@ViewData["Title"]</h1>
</div>

