@{
	ViewData["Title"] = "Profile";
}

<div class="profile-content w-100 d-flex flex-column align-items-center">
	<div class="w-100 d-flex flex-column justify-content-end align-items-center profile-header">
		<h1 class="text-light" style="width: 60%">Profile</h1>
		<div class="d-flex profile-header-navigation">
			<a asp-area="" asp-controller="Home" asp-action="Index">
				<i class="fas fa-home text-white"></i>
			</a>
			<p class="text-light">/</p>
			<p class="text-light">Profile</p>
		</div>
	</div>

	<div class="h-100 d-flex flex-column align-items-center" style="width: 60%">
		<nav class="navbar profile-content-tabbar justify-content-start align-items-end">
			<a role="button" class="h-75 text-reset text-decoration-none" onclick="onTabChange('Information')">
				<div class="personal fs-6 fw-bold profile-content-tabitem">Personal Details</div>
			</a>
			<a role="button" class="h-75 text-reset text-decoration-none" onclick="onTabChange('Information/security')">
				<div class="security fs-6 fw-bold profile-content-tabitem">Security</div>
			</a>
		</nav>
		<hr style="width: 95%; height: 1px;">
		<div class="personal-form pb-2 shadow w-100 flex-column align-items-center bg-light profile-form active">
			<!--Model-->
			<div style="width: 20%; height: 20%">
				<img class="img-fluid w-100 h-100" src="https://www.svgrepo.com/show/420329/anime-away-face.svg" />
			</div>
			<div class="h-100" style="width: 95%">
				@await Html.PartialAsync("_ProfileForm")
			</div>
		</div>
		<div class="security-form pt-2 pb-2 shadow w-100 flex-column align-items-center bg-light profile-form">
			<div class="h-100" style="width: 95%">
				@await Html.PartialAsync("_ProfileSecurityForm")
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script asp-append-version="true" src="~/js/profile.js"></script>
}