@{
    ViewData["Title"] = "Event";
}

<div class="container-fluid position-relative" style="background: linear-gradient(180deg, #0047AB, #00C9FF); background-size: cover; background-position: center; height: 30vh; width: 100%;">
    <div class="row h-100">
        <div class="col text-white position-absolute" style="bottom: 10px; left: 20px;">
            <h1 class="display-4">Event</h1>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/event.js" asp-append-version="true"> </script>
}

