<!--TODO: Remember to put asp-for and model -->
@{

}

<form class="w-100" asp-controller="Profile" asp-action="UpdatePersonalDetail" method="post">
    <div class="w-100 d-flex">
        <label class="w-25" for="Avatar">Avatar</label>
        <input 
            class="w-75 align-self-end form-control" 
            type="file"
            accept=".png,.jpg" 
            id="Avatar" 
            name="Avatar" />
    </div>
    <br />
    <div class="w-100 d-flex">
        <label class="w-25" for="Name">Name</label>
        <input class="w-75 form-control align-self-end" type="text" id="Name" name="Name"  />
    </div>
    <br />
    <div class="w-100 d-flex">
        <label class="w-25" for="Email">Email*</label>
        <input 
            class="w-75 form-control align-self-end" 
            required="required" 
            type="email" 
            id="Email" 
            name="Email" />
    </div>
    <br />
    <div class="w-100 d-flex flex-column">
        <div class="w-75 align-self-end">
            <button 
                class="btn btn-primary" 
                style="border-radius: 10px"
                type="submit">
                    <i class="fas fa-sd-card"></i>
                    <span>Save</span>
            </button>
        </div>
    </div>
</form>