<div class="w-100 d-flex justify-content-center pt-4 min-vh-100">
	<div style="width: 95%">
		<h5>Tìm kiếm địa điểm bạn muốn tổ chức</h5>
		<hr class="w-100" />
		<div class="w-100" style="height: 500px">
			<div id="map" class="rounded-2">
			</div>
		</div>
		<hr class="w-100" />
		<div class="d-flex w-100" style="gap: 10px">
			<div class="w-50" style="min-width: 100px">
				<label for="venueName">Tên địa điểm</label>
				<input disabled id="venueName" name="venueName" class="form-control" />
			</div>
			<div class="w-50" style="min-width: 100px">
				<label for="city">Tên thành phố</label>
				<input disabled id="city" name="city" class="form-control" />
			</div>
		</div>
		<div class="d-flex w-100" style="gap: 10px">
			<div class="w-50" style="min-width: 100px">
				<label for="district">Quận</label>
				<input disabled id="district" name="district" class="form-control" />
			</div>
			<div class="w-50" style="min-width: 100px">
				<label for="ward">Phường</label>
				<input disabled id="ward" name="ward" class="form-control" />
			</div>
		</div>
		<div class="d-flex w-100" style="gap: 10px">
			<div class="w-50" style="min-width: 100px">
				<label for="latitude">Vĩ độ</label>
				<input disabled id="latitude" name="latitude" class="form-control" />
			</div>
			<div class="w-50" style="min-width: 100px">
				<label for="longitude">Kinh độ</label>
				<input disabled id="longitude" name="longitude" class="form-control" />
			</div>
		</div>
	</div>
</div>