<div class="w-100 d-flex justify-content-center pt-4 min-vh-100">
	<div style="width: 95%">
		<h5>Tìm kiếm địa điểm bạn muốn tổ chức</h5>
		<hr class="w-100" />
		<div class="w-100" style="height: 500px">
			<div id="map" class="rounded-2">
			</div>
		</div>
	</div>
</div>