@{
    ViewData["Title"] = "Setting";
    ViewBag.Current = "Setting";
    ViewBag.Setting = "selected";
}

<div class="w-100 h-100" style="background-color: #F2F2F2">
    <h1>@ViewData["Title"]</h1>
</div>

