@import "bootstrap/scss/bootstrap";

$light-green-custom: #2ECC71;

.icon::before,
.icon::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    position: relative;
    min-height: 100vh !important;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Open Sans,sans-serif;
}

body{
    //height: 100vh;
    min-height: 100vh !important;
}

.body-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100% !important;
    width: 100%;
}

/* #region Utility Class */

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-radius-tl-reset {
    border-top-left-radius: 0 !important;
}

.border-radius-bl-reset {
    border-bottom-left-radius: 0 !important;
}

.border-radius-tr-reset {
    border-top-right-radius: 0 !important;
}

.border-radius-br-reset {
    border-bottom-right-radius: 0 !important;
}

.remove-border-focus:focus {
    box-shadow: none !important;
}

.border-radius-reset {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.label {
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;

    > * {
        padding: 2px 8px !important;
    }

    div, p {
        color: white;
        font-weight: bold;
    }
}

.datatables-previous-icon:before {
    content: '\f0d9';
    font: var(--fa-font-solid);
}

.datatables-next-icon:before {
    content: '\f0da';
    font: var(--fa-font-solid);
}

.bg-light-green {
    background-color: $light-green-custom !important;
}

.text-color-inherit {
    color: inherit !important;
}

/* #endregion */